@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(rgb(5, 58, 82), rgb(15, 32, 68));
  overflow: hidden;
}

.container {
  width: 80vw;
  min-height: 70vh;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background: linear-gradient(#333, #222);
  box-shadow: 0 0 10px black, 0 0 10px black;
  border-radius: 30px;
  font-size: 0.8rem;
  transition: all 0.2s;
  animation: come-in 1.5s;
}

@keyframes come-in {
  0% {
    transform: translateY(1000px);
  }
  30% {
    transform: translateY(400px);
  }
  70% {
    transform: translateY(500px);
  }
  100% {
    transform: translateY(0);
  }
}

#result {
  display: flex;
  width: auto;
  flex-wrap: wrap;
  justify-content: center;
}

button::-moz-focus-inner {
  border: none;
}

button:hover,
input[type="checkbox"]:hover {
  transform: scale(1.1);
}

#password,
#copy,
#generate {
  margin: 10px;
  text-align: center;
  padding: 5px 20px;
  box-shadow: 0 0 3px black, 0 0 3px black;
  border-radius: 5px;
}

#password {
  width: 80%;
  padding: 10px 30px;
}

#generate {
  background: linear-gradient(rgb(5, 58, 82), rgb(15, 32, 68));
  color: white;
}

#options {
  display: flex;
  flex-wrap: wrap;
  color: white;
  flex-direction: column-reverse;
}

.option {
  margin: 15px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}

#length {
  margin: 5px;
  text-align: center;
  padding: 5px 5px;
  box-shadow: 0 0 3px black, 0 0 3px black;
  border-radius: 5px;
}

input[type="checkbox"] {
  filter: hue-rotate(-10deg) brightness(0.9);
}

.Toastify__toast--default {
  color: white;
  background: linear-gradient(#333, #222);
  text-align: center;
  font-size: 1.1rem;
  box-shadow: 0 0 5px black, 0 0 10px black;
}

@media screen and (min-width: 1000px) {
  body {
    background: linear-gradient(90deg, rgb(5, 58, 82), rgb(15, 32, 68));
  }

  .container {
    width: 70vw;
    font-size: 1.2rem;
    background: linear-gradient(90deg, #333, #222);
    flex-direction: row;
    justify-content: center;
  }

  #result {
    margin-right: 40px;
  }

  #length {
    font-size: 1rem;
  }

  #password {
    width: 100%;
    font-size: 1.1rem;
  }

  #generate {
    background: linear-gradient(90deg, rgb(5, 58, 82), rgb(15, 32, 68));
  }

  .option {
    display: block;
  }

  #options {
    flex-direction: column;
  }

  input[type="checkbox"] {
    filter: invert(100%) grayscale(100%);
  }

  .Toastify__toast--default {
    background: linear-gradient(90deg, #242424, #232323);
  }
}
