.container {
  width: 70vw;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background: white;
  box-shadow: 0 0 10px black, 0 0 10px black;
  border-radius: 30px;
}

#password,
#copy,
#generate {
  margin: 10px;
  text-align: center;
  padding: 5px 20px;
  box-shadow: 0 0 3px black, 0 0 3px black;
  border-radius: 5px;
}

#password {
  width: 50vw;
}

@media screen and (max-width: 500px) {
  .container {
    flex-direction: column;
  }
}
