@import url("https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300;400&display=swap");

* {
  font-family: "Overpass Mono", monospace;
  font-weight: 400;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Overpass Mono", monospace;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(90deg, rgb(5, 58, 82), rgb(15, 32, 68));
  /* linear-gradient(90deg, #a1c4fd, #c2e9fb); */
  overflow: hidden;
}
